body {
    background-color: #C4C1BA;
    font-family: "Montserrat", "Arial", sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    /* height: 100%; */
    background-color: #F5F4F2;
}

/* =============================================================== */

.header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__container {
    border-bottom: 2px solid #E6E5E0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-weight: 600;
    font-size: 32px;
}

.header__icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__icon {
    width: 25px;
}

/* ================================================================= */

main .container {
    padding-left: 0;
}

.main__columns {
    display: grid;
    grid-template-columns: minmax(150px, 200px) 1fr;
    /* gap: 20px; */
}

.main__sidebar {
    padding: 20px 0;
    /* border-right: 2px solid #E6E5E0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 74px;
    /* отступ от шапки */
    align-self: start;
    /* важно для grid */
}

.main__sidebar-photo {
    width: 150px;
    display: block;
    margin-bottom: 30px;
}

.sidebar__inner-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    text-align: center;
    font-weight: 500;
    font-size: 20px
}

.sidebar__menu-item {
    background-color: #FFFFFF;
    padding: 10px 0;
    border-radius: 8px;
}

/* ======================================================================= */

.content {
    padding: 50px 0 50px 20px;
    border-left: 2px solid #E6E5E0;
}

.content__introduction {
    margin-bottom: 50px;
}

.content__introduction-title {
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 15px;
}

.content__introduction-subtitle {
    font-weight: 400;
    font-size: 16px;
    padding-left: 5px;
}

/* =========================================================== */

.footer__container {
    border-top: 2px solid #E6E5E0;
}

.footer__inner {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icons {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 10px;
}

.footer__icon {
    width: 25px;
}

/* ============================================================== */

.project-card {
    background-color: #E6E5E0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 50px;
}

.project-card__header {
    border-bottom: 2px solid #CCCCCC;
}

.project-card__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 26px;
}

.project-card__info {
    margin: 20px 0 50px;
}

.label {
    font-weight: 500;
    font-size: 16px;
}

.value {
    font-weight: 500;
    font-size: 16px;
}

.project-card__info-item {
    margin: 8px 0;
    display: flex;
}

.project-card__info-item-flex {
    display: flex;
    align-items: center;
}

.project-card__info-item>.value {
    margin-left: 10px;
}

.project-card__skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 15px;
    /* вертикальный и горизонтальный отступы */
    margin-left: 15px;
}

.project-card__skills-item {
    background-color: #FDFBFB;
    padding: 5px 10px;
    border-radius: 8px;
}

.value-link {
    cursor: pointer;
    text-decoration: underline;
}

.project-card__tabs {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.tab {
    background-color: #DEDEDE;
    padding: 8px 10px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
}

.project-card__tab-content-certificate,
.project-card__tab-content-screenshots {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    /* по желанию */
}

.tab--active {
    background-color: #FDFBFB
}

.project-card__content {
    padding: 10px;
    background-color: #FDFBFB;
    border-radius: 8px;
}

.project-card__content>p {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
}

.project-card__content>p:last-child {
    margin-bottom: 0;
}

.project-card__content>h3 {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1;
}

.course-list {
    margin: 10px 0 20px;
    padding-left: 20px;
}

.course-list li {
    margin-bottom: 6px;
    line-height: 1.4;
}

.course-list a {
    color: inherit;
    text-decoration: underline;
    font-weight: 500;
}

.project-card__tab-content-certificate,
.project-card__tab-content-screenshots {
    margin-bottom: 10px;
}

/* ============================================================= */

.about__inner-intro, .cv__inner-intro-link{
    display: flex;
    align-items: end;
    margin-bottom: 15px;
}

.about__icon, .cv__icon {
    width: 20px;
    margin-right: 10px;
}

.about__title, .cv__title {
    font-weight: 500;
    font-size: 22px;
}

.about__inf, .cv__inf {
    background-color: #E6E5E0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 50px;
}

.about__inf>p {
    margin-bottom: 12px;
    line-height: 1.1;
}

.about__inf>p:last-child {
    margin-bottom: 0;
}

.about__subtitle {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.about__book-list {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}

/* =========================================================== */


.cv__inner-intro-link{
    text-decoration: underline;

}


/* ================== MOBILE VERSION ================== */
@media (max-width: 768px) {

    .container{
        padding: 0;
    }

    /* скрываем стандартную шапку */
    .header {
        display: none;
    }

    /* перестраиваем сетку: одна колонка */
    .main__columns {
        display: flex;
        flex-direction: column;
    }

    /* делаем sidebar верхним блоком */
    .main__sidebar {
        width: 100%;
        position: static;
        /* убираем sticky */
        flex-direction: row;
        /* фото + меню в ряд */
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 2px solid #E6E5E0;
        background-color: #F5F4F2;
    }

    /* фото уменьшаем */
    .main__sidebar-photo {
        width: 60px;
        margin: 0;
        margin-right: 10px;
    }

    /* меню делаем горизонтальным */
    .sidebar__inner-menu {
        flex-direction: row;
        gap: 10px;
        width: auto;
        font-size: 14px;
    }

    .sidebar__menu-item {
        padding: 5px 10px;
        border-radius: 6px;
    }

    /* контент без левой границы */
    .content {
        border-left: none;
        padding: 20px;
    }

    /* заголовки уменьшаем */
    .content__introduction-title {
        font-size: 32px;
    }

    .footer__inner{
        padding: 20px;
    }
}

/* ================== MOBILE VERSION ================== */
@media (max-width: 436px) {

    .container{
        padding: 0;
    }

    /* скрываем стандартную шапку */
    .header {
        display: none;
    }

    /* перестраиваем сетку: одна колонка */
    .main__columns {
        display: flex;
        flex-direction: column;
    }

    /* делаем sidebar верхним блоком */
    .main__sidebar {
        width: 100%;
        position: static;
        /* убираем sticky */
        align-items: center;
        padding: 10px 20px;
        border-bottom: 2px solid #E6E5E0;
        background-color: #F5F4F2;
    }

    /* фото уменьшаем */
    .main__sidebar-photo {
        display: none;
    }

    /* меню делаем горизонтальным */
    .sidebar__inner-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
    }

    .sidebar__menu-item {
        padding: 5px 10px;
        border-radius: 6px;
    }

    /* контент без левой границы */
    .content {
        border-left: none;
        padding: 20px;
    }

    /* заголовки уменьшаем */
    .content__introduction-title {
        font-size: 32px;
    }

    .footer__inner{
        padding: 20px;
    }
}


